<div>
  <h2 id="page-heading" data-cy="ClientUpdateHeading">
    <span jhiTranslate="adnApplicationApp.clientUpdate.home.title">Client Updates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="adnApplicationApp.clientUpdate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client-update"
        [routerLink]="['/client-update/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="adnApplicationApp.clientUpdate.home.createLabel"> Create a new Client Update </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientUpdates?.length === 0">
    <span jhiTranslate="adnApplicationApp.clientUpdate.home.notFound">No clientUpdates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientUpdates && clientUpdates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="client.nameClient">
            <span jhiTranslate="adnApplicationApp.clientUpdate.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="update.versionName">
            <span jhiTranslate="adnApplicationApp.clientUpdate.update">Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientUpdate of clientUpdates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/client-update', clientUpdate.id, 'view']">{{ clientUpdate.id }}</a>
          </td>
          <td>
            <div *ngIf="clientUpdate.client">
              <a [routerLink]="['/client', clientUpdate.client?.id, 'view']">{{ clientUpdate.client?.nameClient }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="clientUpdate.update">
              <a [routerLink]="['/update', clientUpdate.update?.id, 'view']">{{ clientUpdate.update?.versionName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/client-update', clientUpdate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/client-update', clientUpdate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(clientUpdate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientUpdates && clientUpdates.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
